<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Components.Suite" version="4.5.9" targetFramework="net472" />
  <package id="Krypton.Docking" version="60.22.2.32" targetFramework="net472" />
  <package id="Krypton.Navigator" version="60.22.2.32" targetFramework="net472" />
  <package id="Krypton.Ribbon" version="60.22.2.32" targetFramework="net472" />
  <package id="Krypton.Toolkit" version="60.22.2.32" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Common" version="60.2202.33" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Developer.Utilities" version="60.2202.33" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Effects" version="60.2202.33" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Tools" version="60.2202.33" targetFramework="net472" />
  <package id="Krypton.Workspace" version="60.22.2.32" targetFramework="net472" />
  <package id="WindowsAPICodePackShell" version="1.1.2" targetFramework="net472" />
</packages>